.bg-dark {
    background: #000
};
.bg-light {
    background: #fff;
};
.bg-blue {
    background: #0074d9;
};
.bg-gray {
    background: #adb5bd;
};
.bg-red {
    background: #ff4136;
};
.bg-green {
    background: #198754;
};
.bg-cyan {
    background: #fff;
};
.bg-yellow {
    background: #ffc107;
};
.bg-orange {
    background: #fd7e14;
};