table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin: auto;
}
th,td {
    padding: 10px;
    vertical-align: center;
    border-bottom: 1px solid $dark;
}
 tr:nth-child(even) {
    background: #e5e5e5;
 }
 tr{
     &:hover {
        background:$dark;
        color:$light;
    }
 }